<div>
    <div>
        <div class="dialogComp" style="position: relative;">
            <div class="dialogDiv" style="top: 30%;">
                <div class="dialogWrap" >
                    <div class="dialogContent">
                        <button type="button" class="closeButton" (click)="close('')">X</button>
                        <div class="dialogHeaderWrapper">
                            <div class="dialogHeader">{{data.title}}</div>
                        </div>
                        <div style="height:15px"></div>
                        <div class="modalBody" mat-dialog-content>
                          <form *ngIf="data.type == 'createExp'" class="formClass">
                            <div style="row-gap: 0; flex-direction: column;">
                                <div class="formcolClass inputLabelDialog">
                                    <label>Experiment Name</label>
                                </div>
                                <div class="formcolClass inputDialog">
                                    <div class="innerDiv">
                                        <div style="flex:auto;max-width: 100%;">
                                            <input placeholder="Input an experiment name" class="form-control" [(ngModel)]="createData.name" name="modelCreateName"/>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:20px"></div>
                                <div class="formcolClass inputLabelDialog">
                                    <label>Artifact Location</label>
                                </div>
                                <div class="formcolClass inputDialog">
                                    <div class="innerDiv">
                                        <div style="flex:auto;max-width: 100%;">
                                            <input placeholder="Input an artifact loaction (optional)" class="form-control" [(ngModel)]="createData.artifact_location" name="modelCreateLocation"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </form>
                          <form *ngIf="data.type != 'Delete' && data.type != 'createExp'" class="formClass">
                            <div style="row-gap: 0; flex-direction: column;">
                                <div *ngIf="data.type == 'Edit'" class="formcolClass inputLabelDialog">
                                    <label>Rename Experiment</label>
                                </div>
                                <div class="formcolClass inputDialog">
                                    <div class="innerDiv">
                                        <div style="flex:auto;max-width: 100%;">
                                            <input class="form-control" [(ngModel)]="inputData" name="modelData"/>
                                        </div>
                                    </div>
                                    <div style="display: flex; justify-content: center; padding: .5rem .5rem;">
                                        <div *ngIf="success" style="width: fit-content !important;" role="alert">
                                            <span><strong><em>"Copied"</em></strong></span>
                                        </div>
                                        <div *ngIf="errorMsg.length > 0"><span>{{errorMsg}}</span></div>
                                    </div>
                                    
                                </div>
                            </div>
                          </form>
                          <div *ngIf="data.type == 'Delete'">
                            <span><strong>Experiment "{{data.data.name}}" (Experiment ID: {{data.data.experiment_id}}) will be deleted.</strong></span>
                          </div>
                        </div>
                        <div style="display: flex; justify-content: flex-end; padding: 0 2rem;">
                          <button class="btn btn-primary">
                            <span *ngIf="data.type == 'Edit'" (click)="rename()">Save</span>
                            <span *ngIf="data.type == 'Share'" (click)="share()">Share</span>
                            <span *ngIf="data.type == 'Delete'" (click)="deleteExp()">Delete</span>
                            <span *ngIf="data.type == 'createExp'" (click)="createExp()">Delete</span>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>