.linkClass {
    display: flex;
    text-decoration: none;
    color: #fff;
    height: 100%;
    align-items: center;
}

.active-link {
    font-weight: bold;
    border-bottom: 4px solid rgb(67, 201, 237);
}

.externalLinks {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 16px;
}

.links {
    color: #fff;
    font-size: 16px;
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
}

.headerClass {
    color: #fff;
    display: flex;
    background-color: #0b3574;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem
}

.subHeader {
    display: flex;
    align-items: center;
    gap: 2rem;
}